node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify

# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/server.log

# Build artifacts
dist.zip
